/GENERAL/
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
}

.header {
    font-family: 'Baskervville SC', Nunito, Rubik;
    color: #BACEC1;
}
.paragraph {
    font-family: lato;
    color: #1D3124;
}
html {
    scroll-behavior: smooth;
}
p {
    color:#1D3124;
}

/TRANSITION/

.btn {
    transition: all 300ms ease;
}

/*Responsive Topnav*/

nav, nav-links {
}

nav {
    justify-content: space-around;
    align-items: center;
    color: #E59560;
    margin: 50px;
    display: flex;
}
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: #1D3124;
    text-decoration: none;
}
a:hover {
    color: #E59560;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}
/* Logo with Round Frame */
.logo-frame {
    width: 120px; /* Adjust the size as needed */
    height: 120px; /* Adjust the size as needed */
    border-radius: 0%;
    overflow: hidden; /* Ensures the logo image fits within the round frame */
    border: 0 solid #1D3124; /* Adjust the border color and width as needed */
    display: flex;
    justify-content: left;
    align-items: left;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ensures the image covers the entire frame without distortion */
}
h2 {
    font-size: 30px;
    margin: 30px;
}
.paragraph {
    font-size: 20px;
    margin: 10px 0 30px;
}
/Home page/
/* General styles */
body {
    font-family: Arial, sans-serif;
    max-width: 1100px;
    margin: 0 auto;
}

main {
}

section {
     /* Adjust the width as needed */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
}

/* Top-left corner for "About Me" */
section.block1 {
    top: -20px; 
    left: 20px;
}

/* Bottom-right corner for "Career Overview" */
section.block2 {
    bottom: -70px;
    right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
}

/* General styling for sections */
.header {
    margin-top: 0;
}

.paragraph {
    text-align: left;
}

.top-right-image {
    top: 300px;  /* Adjust as needed */
    position: absolute;
    bottom: 50px; /* Adjust as needed */
    left: 800px; /* Adjust as needed */
    width: 350px; /* Adjust as needed */
    height: auto;
}

.bottom-left-image {
     /* Adjust as needed */
     /* Adjust as needed */
     /* Adjust as needed */
}

/*Professional Journey */
main {
    padding: 20px 50px;
}

section {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
    column-gap: 15px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Baskervville SC', Nunito, Rubik;
    color: #1D3124;
}

.description {
    margin-bottom: 30px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Baskervville SC', Nunito, Rubik;
    color: #1D3124;
}

p {
    font-family: Lato, sans-serif;
    color: #1D3124;
    line-height: 1.6;
}
.lastp {
    grid-column: 1 / 3;
    text-align: center;
}
   
.resume-button {
    padding: 10px 20px;
    background-color: #E59560;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 400px;
    text-align: center;
    right: 40px;
}

.resume-button:hover {
    background-color: #1D3124;
}

.top-left-image {
    width: 100%;
    margin: 0 auto;
}



/* Footer styles */
footer {
    background-color: #BACEC1;
    padding: 5px 10px;
    justify-content: space-evenly;
    align-items: center;
    display: inline-flex;
    width: 100%;
    position: relative;
}

footer p {
    margin: 0;
    color: #E59560;
}

.social-icons a {
    margin-right: 10px;
}

.social img {
    width: 30px;
    height: 30px;
}